In [50]:
import pandas as pd
file_path = 'auto-mpg.csv'

columns = ['mpg', 'cylinders', 'displayment', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']
df = pd.read_csv(file_path, names=columns)
#  df.columns = columns
df.head()

,mpg,cylinders,displayment,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [ ]:
## 결측치 
### 데이터 요약 정보 확인
행, 열 구성을 출력

In [56]:
df.shape

(398, 9)

In [ ]:
### 데이터 기본 정보 확인

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displayment   398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [62]:
print(df.mpg.dtype)

float64

In [ ]:
## 데이터 기술 통계 정보 요약

In [68]:
df.describe()

,mpg,cylinders,displayment,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [72]:
df.describe(include='all')

,mpg,cylinders,displayment,horsepower,weight,acceleration,model year,origin,name
count,398.000000,398.000000,398.000000,398,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,NaN,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,NaN,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

In [ ]:
## 데이터 개수 확인

In [74]:
df.count()

mpg             398
cylinders       398
displayment     398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64

In [80]:
cnt = df.count()

print(cnt)
print(type(cnt))

mpg             398
cylinders       398
displayment     398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
## 각 열의 고유값 개수 (중복되지 않은 값)

In [98]:
df.value_counts()

mpg   cylinders  displayment  horsepower  weight  acceleration  model year  origin  name
9.0   8          304.0        193.0       4732.0  18.5          70          1       hi 1200d                                1
27.0  4          151.0        90.00       2950.0  17.3          82          1       chevrolet camaro                        1
                 140.0        86.00       2790.0  15.6          82          1       ford mustang gl                         1
                 112.0        88.00       2640.0  18.6          82          1       chevrolet cavalier wagon                1
                 101.0        83.00       2202.0  15.3          76          2       renault 12tl                            1
                                                                                                                           ..
18.6  6          225.0        110.0       3620.0  18.7          78          1       dodge aspen                             1
18.5  8          360.0        150.0       3940.0  13.0          79          1       chrysler lebaron town @ country (sw)    1
      6          250.0        98.00       3525.0  19.0          77          1       ford granada                            1
                              110.0       3645.0  16.2          76          1       pontiac ventura sj                      1
46.6  4          86.0         65.00       2110.0  17.9          80          3       mazda glc                               1
Name: count, Length: 398, dtype: int64

In [100]:
df['origin'].value_counts()

origin
1    249
3     79
2     70
Name: count, dtype: int64

# 통계함수
## 평균값

* df.mean() : 전체 열의 대한 평균
* df['열이름'].mean() : 지정 컬럼에 대한 평균

In [110]:
df[['mpg','weight']].mean()

mpg         23.514573
weight    2970.424623
dtype: float64

In [144]:
cond = df['horsepower'].apply(lambda x: not isinstance(x, str))
print(df[cond])

Empty DataFrame
Columns: [mpg, cylinders, displayment, horsepower, weight, acceleration, model year, origin, name]
Index: []

In [ ]:
## 중간값
행이 홀수개이면 정 가운데
행이 짝수개이면 가운데 2개 값의 평균

In [124]:
df['mpg'].median()

23.0

In [ ]:
## 최댓값

In [ ]:
df.max()

In [ ]:
## 최솟값

In [ ]:
df.min()

In [ ]:
## 표준편차

In [ ]:
df.std()

In [ ]:
## 상관계수 
두 열 간의 상관관계를 수치로 나타낸 것 
수치의 범위는 1 ~ -1 (양의 상관관계 ~ 음의 상관관계)
dr.corr()
dr[열리스트].corr()

In [150]:
df[['mpg','weight','cylinders', 'origin']].corr()

                mpg    weight  cylinders    origin
mpg        1.000000 -0.831741  -0.775396  0.563450
weight    -0.831741  1.000000   0.896017 -0.581024
cylinders -0.775396  0.896017   1.000000 -0.562543
origin     0.563450 -0.581024  -0.562543  1.000000

In [ ]:
# 시각화

In [ ]:
## 판다스 내장 그래픽