In [4]:
import numpy as np
import pandas as pd

In [38]:
file_path = 'data/file_sample.xlsx'
oil = pd.read_excel(file_path, sheet_name=None)
oil

{'2020년 01월':          지역     GS칼텍스_셀프     GS칼텍스_일반     S-OIL_셀프  S-OIL_일반     SK에너지_셀프  \
 0    서울 강남구  1443.440000  1627.111111  1420.760000  1593.250  1416.866250
 1    서울 강동구  1413.275000  1430.353333  1418.970000  1498.000  1445.000000
 2    서울 강북구  1293.675000  1313.190000  1275.100000  1325.710  1329.690000
 3    서울 강서구  1361.773333  1385.840000  1376.913333       NaN  1325.516667
 4    서울 관악구  1415.450000  1429.970000          NaN  1397.015  1411.840000
 5    서울 광진구          NaN  1360.394000  1337.160000  1344.970          NaN
 6    서울 구로구  1285.940000  1511.173333  1286.420000  1393.832          NaN
 7    서울 금천구  1313.940000          NaN  1305.565000  1287.580          NaN
 8    서울 노원구  1340.890000  1421.850000  1370.966667       NaN  1373.275000
 9    서울 도봉구  1331.920000  1327.320000  1329.896000  1557.000  1291.470000
 10  서울 동대문구  1305.485000  1304.980000  1296.390000  1372.500  1367.550000
 11   서울 동작구  1413.840000  1345.275000          NaN  1358.030          NaN
 12   서울 마포구          NaN  1371.190000  1408.970000  1556.175          NaN
 13  서울 서대문구  1357.690000  1358.230000  1351.905000  1320.810  1360.226667
 14   서울 서초구  1391.770000  1408.220000  1388.463333  1629.940  1402.270000
 15   서울 성동구  1361.450000  1650.000000  1312.230000  1342.190  1418.770000
 16   서울 성북구  1299.240000  1333.710000  1301.643333  1354.725  1309.065000
 17   서울 송파구  1364.285000  1381.450000  1356.130000  1412.840  1359.053333
 18   서울 양천구  1312.826667  1323.050000  1269.060000       NaN  1333.678000
 19  서울 영등포구  1350.437500  1580.468333  1349.940000  1345.000  1338.742500
 20   서울 용산구          NaN  1769.362500          NaN       NaN          NaN
 21   서울 은평구  1332.586000  1341.520000  1338.050000       NaN  1334.837500
 22   서울 종로구          NaN  1989.000000          NaN  1459.000  1425.000000
 23    서울 중구          NaN  2067.053333          NaN  1758.000          NaN
 24   서울 중랑구  1315.525000  1305.710000  1303.493333  1359.885  1347.587500

        SK에너지_일반  알뜰(ex)_셀프  알뜰주유소_셀프  알뜰주유소_일반  자가상표_일반    현대오일뱅크_셀프  \
 0   1734.166667        NaN       NaN       NaN      NaN  1385.230000
 1   1653.695000        NaN       NaN       NaN      NaN  1403.063333
 2   1295.840000        NaN       NaN       NaN      NaN  1322.300000
 3   1433.664000        NaN   1273.11   1264.06      NaN  1299.240000
 4   1436.280000        NaN   1313.00   1329.45      NaN  1392.550000
 5   1373.623333        NaN       NaN   1309.19      NaN  1358.733333
 6   1336.065000        NaN       NaN   1321.77      NaN  1314.235000
 7   1351.600000        NaN   1282.46   1291.67      NaN  1313.035000
 8   1398.000000        NaN       NaN       NaN      NaN          NaN
 9           NaN        NaN       NaN       NaN      NaN  1345.106667
 10  1383.838000        NaN       NaN       NaN      NaN  1329.100000
 11  1484.350000        NaN       NaN       NaN      NaN  1393.290000
 12  1493.846000        NaN       NaN       NaN      NaN  1453.000000
 13  1352.713333        NaN       NaN       NaN      NaN  1352.840000
 14  1590.833333    1272.39       NaN       NaN      NaN  1417.290000
 15  1471.978333        NaN       NaN       NaN  1299.58  1350.725000
 16  1407.230000        NaN       NaN   1263.84      NaN  1306.835000
 17  1431.812500        NaN       NaN       NaN      NaN  1367.140000
 18  1447.435000        NaN   1292.87       NaN      NaN  1347.365000
 19  1600.968333        NaN   1276.42       NaN      NaN  1349.728000
 20  1885.408333        NaN       NaN       NaN      NaN          NaN
 21          NaN        NaN       NaN       NaN  1418.00  1314.870000
 22  1943.000000        NaN       NaN       NaN      NaN          NaN
 23  1945.522000        NaN       NaN   1401.87      NaN          NaN
 24          NaN        NaN       NaN       NaN      NaN  1338.420000

       현대오일뱅크_일반
 0   1525.705000
 1   1424.340000
 2           NaN
 3   1362.530000
 4   1407.050000
 5   1337.940000
 6   1391.170000
 7   1379.390000
 8   1431.435000
 9   1309.936667
 10  1386.727500
 11  1388.840000
 12  1420.580000
 13  1357.805000
 14  1468.968000
 15  1572.695000
 16  1353.160000
 17  1378.280000
 18  1401.385000
 19  1494.000000
 20  1800.507500
 21  1399.000000
 22  1665.775000
 23  1618.000000
 24  1291.190000  ,
 '2020년 02월':        지역  GS칼텍스_셀프  GS칼텍스_일반  S-OIL_셀프  S-OIL_일반  SK에너지_셀프  SK에너지_일반  \
 0  서울 강남구         0         0         0         0         0         0
 1  서울 강동구         0         0         0         0         0         0
 2  서울 강북구         0         0         0         0         0         0

    알뜰(ex)_셀프  알뜰주유소_셀프  알뜰주유소_일반  자가상표_일반  현대오일뱅크_셀프  현대오일뱅크_일반
 0        NaN       NaN       NaN      NaN          0        0.0
 1        NaN       NaN       NaN      NaN          0        0.0
 2        NaN       NaN       NaN      NaN          0        NaN  ,
 '2020년 03월':        지역  GS칼텍스_셀프  GS칼텍스_일반  S-OIL_셀프  S-OIL_일반  SK에너지_셀프  SK에너지_일반  \
 0  서울 강남구         1         1         1         1         1         1
 1  서울 강동구         1         1         1         1         1         1
 2  서울 강북구         1         1         1         1         1         1

    알뜰(ex)_셀프  알뜰주유소_셀프  알뜰주유소_일반  자가상표_일반  현대오일뱅크_셀프  현대오일뱅크_일반
 0        NaN       NaN       NaN      NaN          1        1.0
 1        NaN       NaN       NaN      NaN          1        1.0
 2        NaN       NaN       NaN      NaN          1        NaN  }

In [40]:
oil.keys()

dict_keys(['2020년 01월', '2020년 02월', '2020년 03월'])

In [49]:
oil_202001 = oil['2020년 01월']
oil_202001

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1443.440000,1627.111111,1420.760000,1593.250,1416.866250,1734.166667,NaN,NaN,NaN,NaN,1385.230000,1525.705000
1,서울 강동구,1413.275000,1430.353333,1418.970000,1498.000,1445.000000,1653.695000,NaN,NaN,NaN,NaN,1403.063333,1424.340000
2,서울 강북구,1293.675000,1313.190000,1275.100000,1325.710,1329.690000,1295.840000,NaN,NaN,NaN,NaN,1322.300000,NaN
3,서울 강서구,1361.773333,1385.840000,1376.913333,NaN,1325.516667,1433.664000,NaN,1273.11,1264.06,NaN,1299.240000,1362.530000
4,서울 관악구,1415.450000,1429.970000,NaN,1397.015,1411.840000,1436.280000,NaN,1313.00,1329.45,NaN,1392.550000,1407.050000
5,서울 광진구,NaN,1360.394000,1337.160000,1344.970,NaN,1373.623333,NaN,NaN,1309.19,NaN,1358.733333,1337.940000
6,서울 구로구,1285.940000,1511.173333,1286.420000,1393.832,NaN,1336.065000,NaN,NaN,1321.77,NaN,1314.235000,1391.170000
7,서울 금천구,1313.940000,NaN,1305.565000,1287.580,NaN,1351.600000,NaN,1282.46,1291.67,NaN,1313.035000,1379.390000
8,서울 노원구,1340.890000,1421.850000,1370.966667,NaN,1373.275000,1398.000000,NaN,NaN,NaN,NaN,NaN,1431.435000
9,서울 도봉구,1331.920000,1327.320000,1329.896000,1557.000,1291.470000,NaN,NaN,NaN,NaN,NaN,1345.106667,1309.936667
10,서울 동대문구,1305.485000,1304.980000,1296.390000,1372.500,1367.550000,1383.838000,NaN,NaN,NaN,NaN,1329.100000,1386.727500
11,서울 동작구,1413.840000,1345.275000,NaN,1358.030,NaN,1484.350000,NaN,NaN,NaN,NaN,1393.290000,1388.840000
12,서울 마포구,NaN,1371.190000,1408.970000,1556.175,NaN,1493.846000,NaN,NaN,NaN,NaN,1453.000000,1420.580000
13,서울 서대문구,1357.690000,1358.230000,1351.905000,1320.810,1360.226667,1352.713333,NaN,NaN,NaN,NaN,1352.840000,1357.805000
14,서울 서초구,1391.770000,1408.220000,1388.463333,1629.940,1402.270000,1590.833333,1272.39,NaN,NaN,NaN,1417.290000,1468.968000
15,서울 성동구,1361.450000,1650.000000,1312.230000,1342.190,1418.770000,1471.978333,NaN,NaN,NaN,1299.58,1350.725000,1572.695000
16,서울 성북구,1299.240000,1333.710000,1301.643333,1354.725,1309.065000,1407.230000,NaN,NaN,1263.84,NaN,1306.835000,1353.160000
17,서울 송파구,1364.285000,1381.450000,1356.130000,1412.840,1359.053333,1431.812500,NaN,NaN,NaN,NaN,1367.140000,1378.280000
18,서울 양천구,1312.826667,1323.050000,1269.060000,NaN,1333.678000,1447.435000,NaN,1292.87,NaN,NaN,1347.365000,1401.385000
19,서울 영등포구,1350.437500,1580.468333,1349.940000,1345.000,1338.742500,1600.968333,NaN,1276.42,NaN,NaN,1349.728000,1494.000000
20,서울 용산구,NaN,1769.362500,NaN,NaN,NaN,1885.408333,NaN,NaN,NaN,NaN,NaN,1800.507500
21,서울 은평구,1332.586000,1341.520000,1338.050000,NaN,1334.837500,NaN,NaN,NaN,NaN,1418.00,1314.870000,1399.000000
22,서울 종로구,NaN,1989.000000,NaN,1459.000,1425.000000,1943.000000,NaN,NaN,NaN,NaN,NaN,1665.775000
23,서울 중구,NaN,2067.053333,NaN,1758.000,NaN,1945.522000,NaN,NaN,1401.87,NaN,NaN,1618.000000
24,서울 중랑구,1315.525000,1305.710000,1303.493333,1359.885,1347.587500,NaN,NaN,NaN,NaN,NaN,1338.420000,1291.190000

In [53]:
oil_202001.to_csv('data/2020-01-oil.csv', index=False)