In [2]:
import numpy as np
import pandas as pd

In [16]:
file_path = 'data/file_sample.xlsx'
oil = pd.read_excel(file_path, header=None)

print(oil)

         0            1            2            3         4            5   \
0       NaN     GS칼텍스_셀프     GS칼텍스_일반     S-OIL_셀프  S-OIL_일반     SK에너지_셀프
1    서울 강남구      1443.44  1627.111111      1420.76   1593.25   1416.86625
2    서울 강동구     1413.275  1430.353333      1418.97      1498         1445
3    서울 강북구     1293.675      1313.19       1275.1   1325.71      1329.69
4    서울 강서구  1361.773333      1385.84  1376.913333       NaN  1325.516667
5    서울 관악구      1415.45      1429.97          NaN  1397.015      1411.84
6    서울 광진구          NaN     1360.394      1337.16   1344.97          NaN
7    서울 구로구      1285.94  1511.173333      1286.42  1393.832          NaN
8    서울 금천구      1313.94          NaN     1305.565   1287.58          NaN
9    서울 노원구      1340.89      1421.85  1370.966667       NaN     1373.275
10   서울 도봉구      1331.92      1327.32     1329.896      1557      1291.47
11  서울 동대문구     1305.485      1304.98      1296.39    1372.5      1367.55
12   서울 동작구      1413.84     1345.275          NaN   1358.03          NaN
13   서울 마포구          NaN      1371.19      1408.97  1556.175          NaN
14  서울 서대문구      1357.69      1358.23     1351.905   1320.81  1360.226667
15   서울 서초구      1391.77      1408.22  1388.463333   1629.94      1402.27
16   서울 성동구      1361.45         1650      1312.23   1342.19      1418.77
17   서울 성북구      1299.24      1333.71  1301.643333  1354.725     1309.065
18   서울 송파구     1364.285      1381.45      1356.13   1412.84  1359.053333
19   서울 양천구  1312.826667      1323.05      1269.06       NaN     1333.678
20  서울 영등포구    1350.4375  1580.468333      1349.94      1345    1338.7425
21   서울 용산구          NaN    1769.3625          NaN       NaN          NaN
22   서울 은평구     1332.586      1341.52      1338.05       NaN    1334.8375
23   서울 종로구          NaN         1989          NaN      1459         1425
24    서울 중구          NaN  2067.053333          NaN      1758          NaN
25   서울 중랑구     1315.525      1305.71  1303.493333  1359.885    1347.5875

             6          7         8         9        10           11  \
0      SK에너지_일반  알뜰(ex)_셀프  알뜰주유소_셀프  알뜰주유소_일반  자가상표_일반    현대오일뱅크_셀프
1   1734.166667        NaN       NaN       NaN      NaN      1385.23
2      1653.695        NaN       NaN       NaN      NaN  1403.063333
3       1295.84        NaN       NaN       NaN      NaN       1322.3
4      1433.664        NaN   1273.11   1264.06      NaN      1299.24
5       1436.28        NaN      1313   1329.45      NaN      1392.55
6   1373.623333        NaN       NaN   1309.19      NaN  1358.733333
7      1336.065        NaN       NaN   1321.77      NaN     1314.235
8        1351.6        NaN   1282.46   1291.67      NaN     1313.035
9          1398        NaN       NaN       NaN      NaN          NaN
10          NaN        NaN       NaN       NaN      NaN  1345.106667
11     1383.838        NaN       NaN       NaN      NaN       1329.1
12      1484.35        NaN       NaN       NaN      NaN      1393.29
13     1493.846        NaN       NaN       NaN      NaN         1453
14  1352.713333        NaN       NaN       NaN      NaN      1352.84
15  1590.833333    1272.39       NaN       NaN      NaN      1417.29
16  1471.978333        NaN       NaN       NaN  1299.58     1350.725
17      1407.23        NaN       NaN   1263.84      NaN     1306.835
18    1431.8125        NaN       NaN       NaN      NaN      1367.14
19     1447.435        NaN   1292.87       NaN      NaN     1347.365
20  1600.968333        NaN   1276.42       NaN      NaN     1349.728
21  1885.408333        NaN       NaN       NaN      NaN          NaN
22          NaN        NaN       NaN       NaN     1418      1314.87
23         1943        NaN       NaN       NaN      NaN          NaN
24     1945.522        NaN       NaN   1401.87      NaN          NaN
25          NaN        NaN       NaN       NaN      NaN      1338.42

             12
0     현대오일뱅크_일반
1      1525.705
2       1424.34
3           NaN
4       1362.53
5       1407.05
6       1337.94
7       1391.17
8       1379.39
9      1431.435
10  1309.936667
11    1386.7275
12      1388.84
13      1420.58
14     1357.805
15     1468.968
16     1572.695
17      1353.16
18      1378.28
19     1401.385
20         1494
21    1800.5075
22         1399
23     1665.775
24         1618
25      1291.19

In [14]:
oil.keys()

Index(['Unnamed: 0', 'GS칼텍스_셀프', 'GS칼텍스_일반', 'S-OIL_셀프', 'S-OIL_일반',
       'SK에너지_셀프', 'SK에너지_일반', '알뜰(ex)_셀프', '알뜰주유소_셀프', '알뜰주유소_일반', '자가상표_일반',
       '현대오일뱅크_셀프', '현대오일뱅크_일반'],
      dtype='object')