## 1

In [6]:
import numpy as np
import pandas as pd

In [ ]:
dtype은 float32가 되도록 생성하세요

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float32

numpy.arange([start, ] stop, [step, ] dtype=None)

In [4]:

s1 = pd.Series(np.arange(3,12,2), dtype='float32')
print(s1)

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float32

## 2
0    가
1    나
2    다
3    라
4    마
dtype: object

In [79]:
s2 = pd.Series(['가', '나', '다', '라'])
print(s2)

print(pd.Series(list("가나다라마")))

print(list("가나다라마"))

0    가
1    나
2    다
3    라
dtype: object
0    가
1    나
2    다
3    라
4    마
dtype: object
['가', '나', '다', '라', '마']

In [ ]:
## 3
다음의 Series를 생성하고 sample 변수에 대입하고 출력하세요
가    10
나    20
다    30
라    40
마    50
dtype: int64

In [8]:
s3 = pd.Series(data=[10, 20, 30, 40, 50], index=['가','나','다','라','마'])
print(s3)
print()

s3 = pd.Series(data=np.arange(10, 60, 10), index=list('가나다라마'))
print(s3)

가    10
나    20
다    30
라    40
마    50
dtype: int64

가    10
나    20
다    30
라    40
마    50
dtype: int32

In [ ]:
## 4
sample중 '나'와 '라' 데이터를 조회하세요

In [29]:
print(s3[['나', '라']])

나    20
라    40
dtype: int64

In [ ]:
# 5

sample2 중 160 이하인 데이터만 필터하세요

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int64

In [10]:
np.random.seed(20)
sample2 = pd.Series(np.random.randint(100, 200, size=(15,)))
cond = sample2 <= 160
print(sample2[cond])
print()
print(sample2[sample2 <= 160])

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int32

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int32

In [ ]:
# 6

sample2 중 130 이상 170 이하인 데이터만 필터하세요

11    134
13    140
dtype: int64

In [14]:
cond = (sample2 >= 130) & (sample2 <= 160)
print(sample2[cond])
print()
print(sample2[(sample2 >= 130) & (sample2 <= 160)])

11    134
13    140
dtype: int32

11    134
13    140
dtype: int32

# 7

다음과 같은 Series를 생성해 주세요

가     apple
나       NaN
다    banana
라      kiwi
마    gubong
dtype: object

In [45]:
data = {
    '가':'apple',
    '나':np.nan,
    '다':'banana',
    '라':'kiwi',
    '마':'gubong',
}

s7 = pd.Series(data)
print(s7)

가     apple
나       NaN
다    banana
라      kiwi
마    gubong
dtype: object

# 8

sample 중 결측치 데이터만 필터하세요

1    NaN
3    NaN
dtype: object

In [16]:

sample = pd.Series(['IT서비스', np.nan, '반도체', np.nan, '바이오', '자율주행'])
#cond = sample.isna()
cond = sample.isnull()

print(sample[cond])
print()
print(sample[sample.isna()])

1    NaN
3    NaN
dtype: object

1    NaN
3    NaN
dtype: object

# 9 

sample중 결측치가 아닌 데이터만 필터하세요

0    IT서비스
2      반도체
4      바이오
5     자율주행
dtype: object

In [20]:
cond = sample.isna() == False
print(sample[cond])
print()
print(sample[sample.notnull()])
print()
print(sample[sample.notna()])

0    IT서비스
2      반도체
4      바이오
5     자율주행
dtype: object

0    IT서비스
2      반도체
4      바이오
5     자율주행
dtype: object

0    IT서비스
2      반도체
4      바이오
5     자율주행
dtype: object

# 10

sample에서 다음과 같은 결과를 가지도록 슬라이싱 하세요

2    164
3    167
4    167
5    109
6    183
dtype: int64

In [63]:
np.random.seed(0)
sample = pd.Series(np.random.randint(100, 200, size=(10,)))
print(sample[2:7])

2    164
3    167
4    167
5    109
6    183
dtype: int32

# 11

sample2에서 다음과 같은 결과를 가지도록 슬라이싱 하세요

바    109
사    183
아    121
자    136
차    187
dtype: int64

In [22]:
np.random.seed(0)
sample2 = pd.Series(np.random.randint(100, 200, size=(10,)), index=list('가나다라마바사아자차'))
print(sample2["바":"차"])
print()
print(sample2['바':])

바    109
사    183
아    121
자    136
차    187
dtype: int32

바    109
사    183
아    121
자    136
차    187
dtype: int32

# 12

가    144
나    147
다    164
dtype: int64

In [24]:
print(sample2["가":"다"])
print()
print(sample2[:'다'])

가    144
나    147
다    164
dtype: int32

가    144
나    147
다    164
dtype: int32

# 13

나    147
다    164
라    167
마    167
바    109
dtype: int64

In [75]:
print(sample2["나":"바"])

나    147
다    164
라    167
마    167
바    109
dtype: int32