In [60]:
import numpy as np
import pandas as pd

In [ ]:
다음의 DataFrame을 생성하세요

생성된 DataFrame은 df 변수에 할당합니다.

    	food	price	rating
0	KFC	1000	4.5
1	McDonald	2000	3.9
2	SchoolFood	2500	4.2

In [48]:
# 방식 1 : 리스트 내 리스트 사용 row~
data = [
    ['KFC', 1000, 4.5],
    ['McDonald', 2000, 3.9],
    ['SchoolFood', 2500, 4.2],
]
columns = ['food', 'price', 'rating']
df = pd.DataFrame(data=data, columns=columns)
print(df)

         food  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2

In [ ]:
# 방식 2 : 딕셔너리

In [70]:
data = {
    "food":['KFC','McDonald','SchoolFood'],
    'price':[1000,2000,2500],
    'rating':[4.5, 3.9, 4.2]
}
df = pd.DataFrame(data)
df

         food  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2

In [72]:
# 방식 3 : 딕셔너리의 리스트 
data = [
    {'food': 'KFC', 'price': 1000, 'rating': 4.5},
    {'food': 'McDonald', 'price': 2000, 'rating': 3.9},
    {'food': 'SchoolFood', 'price': 2500, 'rating': 4.2},
]
df = pd.DataFrame(data=data, columns=columns)
print(df)

         food  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2

In [74]:
# 방식 4: 튜플 
data = [
    ('KFC', 1000, 4.5),
    ('McDonald', 2000, 3.9),
    ('SchoolFood', 2500, 4.2),
]

df = pd.DataFrame(data=data, columns=columns)
print(df)

         food  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2

In [86]:
import pandas as pd
import json

data = json.dumps([
    {'food': 'KFC', 'price': 1000, 'rating': 4.5},
    {'food': 'McDonald', 'price': 2000, 'rating': 3.9},
    {'food': 'SchoolFood', 'price': 2500, 'rating': 4.2},
])

# JSON 문자열을 Python 객체로 변환
parsed_data = json.loads(data)

# 데이터프레임으로 변환
df = pd.DataFrame(parsed_data)
print(df)

         food  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2

In [ ]:
food 컬럼과 rating 컬럼만 선택하여 출력하세요

In [13]:
print(df[['food','rating']])

         food  rating
0         KFC     4.5
1    McDonald     3.9
2  SchoolFood     4.2

In [21]:
print(df.iloc[:, [0,2]])

         food  rating
0         KFC     4.5
1    McDonald     3.9
2  SchoolFood     4.2

In [29]:
print(df.loc[:, ['food','rating']])

         food  rating
0         KFC     4.5
1    McDonald     3.9
2  SchoolFood     4.2


**food 컬럼명을 place로 컬럼명을 변경해 주세요**

In [52]:
df.rename(columns={'food':'place'}, inplace=True)
df

        place  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2

             food  price  rating
index
1             KFC   1000     4.5
2        McDonald   2000     3.9
3      SchoolFood   2500     4.2