In [1]:
prompt = """
1. add
2. del
3. list
4. quit

enter number : """

number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. add
2. del
3. list
4. quit

enter number :

 3

1. add
2. del
3. list
4. quit

enter number :

 2

1. add
2. del
3. list
4. quit

enter number :

 1

1. add
2. del
3. list
4. quit

enter number :

 1

1. add
2. del
3. list
4. quit

enter number :

 4

In [3]:
coffee = 10
money = 300

while money:
    print("커피~~")
    coffee = coffee - 1
    print("남은 커피 : %d" % coffee)

    if coffee == 0:
        print("매진")
        break

커피~~
남은 커피 : 9
커피~~
남은 커피 : 8
커피~~
남은 커피 : 7
커피~~
남은 커피 : 6
커피~~
남은 커피 : 5
커피~~
남은 커피 : 4
커피~~
남은 커피 : 3
커피~~
남은 커피 : 2
커피~~
남은 커피 : 1
커피~~
남은 커피 : 0
매진

In [7]:
num = input()

if num == 1:
    print("1")
elif num == 2:
    print("num2")

 2

In [9]:
a = [1,2,3,4]
if 4 in a:
    print("있따")

있따

In [11]:
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [17]:
b = [(1,2), (3,4), (5,6)]

for (first, last) in b:
    print(first+last)

3
7
11