- 일부 데이터 추출
- 콤마를 제외한 숫자만 추출

In [74]:
a = '1,2,3,4,5'
int(a.replace(',',''))

12345

In [80]:
import re
a = '1,2,3,4,5'
pa = re.compile('[^0-9]')
result = re.sub(pa, '', a)
print(result)

12345

In [84]:
b = '''
    홍길동: 1234, Gil-dong Hong,
    이길동: 3914, Gil-dong Lee,
    박길동: 0000, Gil-dong Park
    '''
b = b.strip()
b = b.split('\n')
for i in b:
    i = i.split(':')
    i = i[0].strip()
    print(i)

홍길동
이길동
박길동

In [86]:
b = '''
    홍길동: 1234, Gil-dong Hong,
    이길동: 3914, Gil-dong Lee,
    박길동: 0000, Gil-dong Park
    '''

In [88]:
p = re.compile('[^가-힣]')
result = re.sub(p, '', b)
print(result)

홍길동이길동박길동

In [56]:
c='''
<script>
		var g_ssc = 'news.v3_media' || null;
		var bSupportedIntersectionObserver = "IntersectionObserver" in window;
		</script>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi"/>
	<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/static.news/mnews/resources/20250105_234507/css/generated/newshome.css" />
			<link rel="shortcut icon" type="image/x-icon" href="https://mimgnews.pstatic.net/image/news/m/2023/favicon/favicon.ico" />
<script>
'''
type(c)

str

In [58]:
c.find('href=')

352

In [60]:
c = c[352:]

In [62]:
c

'href="https://ssl.pstatic.net/static.news/mnews/resources/20250105_234507/css/generated/newshome.css" />\n\t\t\t<link rel="shortcut icon" type="image/x-icon" href="https://mimgnews.pstatic.net/image/news/m/2023/favicon/favicon.ico" />\n<script>\n'

In [64]:
c = c.split('/>')
c

['href="https://ssl.pstatic.net/static.news/mnews/resources/20250105_234507/css/generated/newshome.css" ',
 '\n\t\t\t<link rel="shortcut icon" type="image/x-icon" href="https://mimgnews.pstatic.net/image/news/m/2023/favicon/favicon.ico" ',
 '\n<script>\n']

In [66]:
c[0]

'href="https://ssl.pstatic.net/static.news/mnews/resources/20250105_234507/css/generated/newshome.css" '

In [68]:
url = c[0].split('" ')[0]

In [70]:
url = url.split('href="')[1]
url

'https://ssl.pstatic.net/static.news/mnews/resources/20250105_234507/css/generated/newshome.css'

#### movies.csv 파일에서 영화장르(genres)의 개수와 영화장르별 개수 출력

In [94]:
import pandas as pd
movie = pd.read_csv('movies.csv')
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [96]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [114]:
result =[]
for i in movie['genres']:
    result.extend(i.split('|'))

print(f'전체 영화의 총 장르 개수 : {len(result)}')
print(result[:50])

전체 영화의 총 장르 개수 : 22084
['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy', 'Adventure', 'Children', 'Fantasy', 'Comedy', 'Romance', 'Comedy', 'Drama', 'Romance', 'Comedy', 'Action', 'Crime', 'Thriller', 'Comedy', 'Romance', 'Adventure', 'Children', 'Action', 'Action', 'Adventure', 'Thriller', 'Comedy', 'Drama', 'Romance', 'Comedy', 'Horror', 'Adventure', 'Animation', 'Children', 'Drama', 'Action', 'Adventure', 'Romance', 'Crime', 'Drama', 'Drama', 'Romance', 'Comedy', 'Comedy', 'Action', 'Comedy', 'Crime', 'Drama', 'Thriller', 'Comedy', 'Crime']

In [122]:
genre = list(set(result))
print(len(genre))
print(genre)

20
['Mystery', 'Comedy', 'IMAX', 'Adventure', '(no genres listed)', 'Crime', 'Animation', 'Sci-Fi', 'Fantasy', 'Western', 'Horror', 'Children', 'Musical', 'Film-Noir', 'Thriller', 'Romance', 'War', 'Action', 'Documentary', 'Drama']

In [124]:
count={}
for i in result:
    if count.get(i):
        count[i] += 1
    else:
        count[i] = 1

print(count)

{'Adventure': 1263, 'Animation': 611, 'Children': 664, 'Comedy': 3756, 'Fantasy': 779, 'Romance': 1596, 'Drama': 4361, 'Action': 1828, 'Crime': 1199, 'Thriller': 1894, 'Horror': 978, 'Mystery': 573, 'Sci-Fi': 980, 'War': 382, 'Musical': 334, 'Documentary': 440, 'IMAX': 158, 'Western': 167, 'Film-Noir': 87, '(no genres listed)': 34}