In [32]:
# import pandas as pd

# file_path1 = "read_csv_sample.csv"
# file_path2 = "weather.csv"
# file_path3 = "weather1.csv"

# df1 = pd.read_csv(file_path1)
# df2 = pd.read_csv(file_path2)
# df3 = pd.read_csv(file_path3, encoding='cp949')

# 데이터 입출력

## csv 
pd.read_csv(filepath, header, index_col, names)
filepath : 파일 경로
header : 헤더의 열 이름으로 사용할 행 또는 열 지정
index_col : DataFrame의 행 인덱스가 되는 열 지정 
names : 열 이름으로 지정할 문자열

In [50]:
import pandas as pd

file_path1 = "read_csv_sample.csv"

df1 = pd.read_csv(file_path1)
print(df1)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [48]:
df2 = pd.read_csv(file_path1, header=None)
print(df2)

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

In [62]:
df3 = pd.read_csv(file_path1, index_col=None)
print(df3)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [60]:
df4 = pd.read_csv(file_path1, index_col='c0')
print(df4)

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

## excel
pd.read_excel(filepath, header, index_col, names, sheet_name)

In [72]:
xdf1 = pd.read_excel("남북한발전전력량.xlsx")
print(xdf1)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]

In [76]:
xdf2 = pd.read_excel("남북한발전전력량.xlsx", header=None)
print(xdf2)

          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [ ]:
## json

In [133]:

jdf1 = pd.read_json("read_json_sample.json")
print(jdf1)
print()

            year        developer opensource
pandas      2008    Wes Mckinneye       True
NumPy       2006  Travis Oliphant       True
matplotlib  2003   John D. Hunter       True

## 외부데이터 저장 


### 데이터프레임을 csv파일로 저장 

df.to_csv(filename, sep, na_rep, columns, header, index, mode, encoding)

* filename : 파일명
* sep : 구분 문자(default는 콤마)
* na_rep : 누락된 데이터를 나타낼 문자열
* columns : 저장할 열이름 
* header : 열이름으로 저장할 문자열, False 설정시 열 이름을 파일에 저장 안 함
* index : True면 행 이름을 인덱스로 저장
* mode : 파일 모드, default w
* encoding : 문자열 체계, 일반적으로 한글은 utf-8, 윈도우는 cp949

In [129]:
data = {
    'name':{0:'Tom', 1:'David', 2:'Peter', 3:'Jhon', 4:'Michael'},
    'gender':{0:'M', 1:None, 2:'M', 3:'F', 4:None},
    'age':{0:None, 1:20, 2:30, 3:45, 4:60}
}

df = pd.DataFrame(data)

print(df)

df.to_csv("df_to_csv.csv")

      name gender   age
0      Tom      M   NaN
1    David   None  20.0
2    Peter      M  30.0
3     Jhon      F  45.0
4  Michael   None  60.0

In [ ]:
## 여러 개의 DataFrame을 여러 시트에 저장하기 

ExcelWriter 함수 
1. pd.ExcelWriter() 객체 생성
2. to_excel()함수를 이용하여 시트 추가 
3. save()함수로 저장

In [135]:
data1 = {
    'name':{0:'Tom', 1:'David', 2:'Peter', 3:'Jhon', 4:'Michael'},
    'gender':{0:'M', 1:None, 2:'M', 3:'F', 4:None},
    'age':{0:None, 1:20, 2:30, 3:45, 4:60}
}

data2 = {
    'name':{0:'Tom2', 1:'David2', 2:'Peter2', 3:'Jhon2', 4:'Michael2'},
    'gender':{0:'M', 1:None, 2:'M', 3:'F', 4:None},
    'age':{0:None, 1:20, 2:30, 3:45, 4:60}
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [151]:
excel_file = pd.ExcelWriter('df_to_excel2.xlsx')
df1.to_excel(excel_file, sheet_name='info_data1')
df2.to_excel(excel_file, sheet_name='info_data2')
excel_file.close()