In [ ]:
# 반정형데이터 분석 
## 국토교통부_아파트 전월세 실거래가 자료

In [ ]:
#https://apis.data.go.kr/1613000/RTMSDataSvcAptRent/getRTMSDataSvcAptRent?serviceKey=서비스키&LAWD_CD=11110&DEAL_YMD=202407&pageNo=1&numOfRows=1

#https://apis.data.go.kr/1613000/RTMSDataSvcAptRent/getRTMSDataSvcAptRent?serviceKey=%2FDspoCgDFk9q%2Bl7Cfmv%2FZuQTGXQna07VhEnnpVMfm7fwWTIOiC1fLQWrpKjQdWkv8kBxrWfOpyG2vqgSltntFA%3D%3D&LAWD_CD=11110&DEAL_YMD=201512

In [68]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [86]:
SERVICE_KEY = "%2FDspoCgDFk9q%2Bl7Cfmv%2FZuQTGXQna07VhEnnpVMfm7fwWTIOiC1fLQWrpKjQdWkv8kBxrWfOpyG2vqgSltntFA%3D%3D"

def generateURL(gu_code, date):
    if gu_code != '': gu_code = "&LAWD_CD=" + str(gu_code)
    if date != '': date = "&DEAL_YMD=" + str(date)
    url = f"http://apis.data.go.kr/1613000/RTMSDataSvcAptRent/getRTMSDataSvcAptRent?serviceKey={SERVICE_KEY}{gu_code}{date}"
    return url

In [166]:
url = generateURL(gu_code=11110, date=201512)
result = urlopen(url)
print(result)

<http.client.HTTPResponse object at 0x00000245127473D0>

In [168]:
rs = BeautifulSoup(result, 'lxml-xml')

In [244]:
#print(rs)

In [266]:
for item in rs.body.items:
    
    data = [item.umdNm.string, item.aptNm.string, item.excluUseAr.string, item.deposit.string, item.monthlyRent.string]
    print(data)

TypeError: 'NoneType' object is not callable

In [196]:
item = rs.find_all('item')
print(item)

[<item><aptNm>송림아마레스아파트</aptNm><buildYear>2003</buildYear><contractTerm/><contractType> </contractType><dealDay>15</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><deposit>33,000</deposit><excluUseAr>75.62</excluUseAr><floor>5</floor><jibun>2-12</jibun><monthlyRent>0</monthlyRent><preDeposit/><preMonthlyRent/><sggCd>11110</sggCd><umdNm>명륜1가</umdNm><useRRRight> </useRRRight></item>, <item><aptNm>삼성</aptNm><buildYear>1998</buildYear><contractTerm/><contractType> </contractType><dealDay>22</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><deposit>22,000</deposit><excluUseAr>59.97</excluUseAr><floor>7</floor><jibun>596</jibun><monthlyRent>0</monthlyRent><preDeposit/><preMonthlyRent/><sggCd>11110</sggCd><umdNm>평창동</umdNm><useRRRight> </useRRRight></item>, <item><aptNm>창신쌍용2</aptNm><buildYear>1993</buildYear><contractTerm/><contractType> </contractType><dealDay>5</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><deposit>17,000</deposit><excluUseAr>64.66</excluUseAr><floor>4</floor><jibun>703</jibun><monthlyRent>40</monthlyRent><preDeposit/><preMonthlyRent/><sggCd>11110</sggCd><umdNm>창신동</umdNm><useRRRight> </useRRRight></item>, <item><aptNm>경희궁의아침3단지</aptNm><buildYear>2004</buildYear><contractTerm/><contractType> </contractType><dealDay>28</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><deposit>77,000</deposit><excluUseAr>149</excluUseAr><floor>4</floor><jibun>72</jibun><monthlyRent>0</monthlyRent><preDeposit/><preMonthlyRent/><sggCd>11110</sggCd><umdNm>내수동</umdNm><useRRRight> </useRRRight></item>, <item><aptNm>아남2</aptNm><buildYear>1996</buildYear><contractTerm/><contractType> </contractType><dealDay>18</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><deposit>17,000</deposit><excluUseAr>59.4</excluUseAr><floor>4</floor><jibun>236</jibun><monthlyRent>60</monthlyRent><preDeposit/><preMonthlyRent/><sggCd>11110</sggCd><umdNm>명륜2가</umdNm><useRRRight> </useRRRight></item>, <item><aptNm>종로청계힐스테이트</aptNm><buildYear>2009</buildYear><contractTerm/><contractType> </contractType><dealDay>16</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><deposit>35,000</deposit><excluUseAr>59.9426</excluUseAr><floor>3</floor><jibun>766</jibun><monthlyRent>0</monthlyRent><preDeposit/><preMonthlyRent/><sggCd>11110</sggCd><umdNm>숭인동</umdNm><useRRRight> </useRRRight></item>, <item><aptNm>현대뜨레비앙</aptNm><buildYear>2003</buildYear><contractTerm/><contractType> </contractType><dealDay>9</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><deposit>18,000</deposit><excluUseAr>45.5</excluUseAr><floor>3</floor><jibun>55</jibun><monthlyRent>0</monthlyRent><preDeposit/><preMonthlyRent/><sggCd>11110</sggCd><umdNm>익선동</umdNm><useRRRight> </useRRRight></item>, <item><aptNm>아남1</aptNm><buildYear>1995</buildYear><contractTerm/><contractType> </contractType><dealDay>29</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><deposit>8,100</deposit><excluUseAr>84.9</excluUseAr><floor>2</floor><jibun>4</jibun><monthlyRent>0</monthlyRent><preDeposit/><preMonthlyRent/><sggCd>11110</sggCd><umdNm>명륜2가</umdNm><useRRRight> </useRRRight></item>, <item><aptNm>창신쌍용2</aptNm><buildYear>1993</buildYear><contractTerm/><contractType> </contractType><dealDay>23</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><deposit>21,000</deposit><excluUseAr>79.87</excluUseAr><floor>8</floor><jibun>703</jibun><monthlyRent>20</monthlyRent><preDeposit/><preMonthlyRent/><sggCd>11110</sggCd><umdNm>창신동</umdNm><useRRRight> </useRRRight></item>, <item><aptNm>광화문스페이스본(101동~105동)</aptNm><buildYear>2008</buildYear><contractTerm/><contractType> </contractType><dealDay>21</dealDay><dealMonth>12</dealMonth><dealYear>2015</dealYear><deposit>53,000</deposit><excluUseAr>126.34</excluUseAr><floor>4</floor><jibun>9</jibun><monthlyRent>80</monthlyRent><preDeposit/><preMonthlyRent/><sggCd>11110</sggCd><umdNm>사직동</umdNm><useRRRight> </useRRRight></item>]

In [238]:
datas = []
for i in range(len(item)):
    umdNm = item[i].umdNm.string.strip() #  법정동
    aptNm = item[i].aptNm.string.strip() #  아파트명
    excluUseAr = item[i].excluUseAr.string.strip() #  전용면적
    deposit = item[i].deposit.string.strip() #  보증금액
    monthlyRent = item[i].monthlyRent.string.strip() #  월세
    data = [umdNm, aptNm, excluUseAr, deposit, monthlyRent]
    datas.append(data)
    print(data)

['명륜1가', '송림아마레스아파트', '75.62', '33,000', '0']
['평창동', '삼성', '59.97', '22,000', '0']
['창신동', '창신쌍용2', '64.66', '17,000', '40']
['내수동', '경희궁의아침3단지', '149', '77,000', '0']
['명륜2가', '아남2', '59.4', '17,000', '60']
['숭인동', '종로청계힐스테이트', '59.9426', '35,000', '0']
['익선동', '현대뜨레비앙', '45.5', '18,000', '0']
['명륜2가', '아남1', '84.9', '8,100', '0']
['창신동', '창신쌍용2', '79.87', '21,000', '20']
['사직동', '광화문스페이스본(101동~105동)', '126.34', '53,000', '80']

In [242]:
df = pd.DataFrame(datas, columns=['법정동', '아파트명', '전용면적', '보증금액', '월세'])
df.head()

    법정동       아파트명   전용면적    보증금액  월세
0  명륜1가  송림아마레스아파트  75.62  33,000   0
1   평창동         삼성  59.97  22,000   0
2   창신동      창신쌍용2  64.66  17,000  40
3   내수동  경희궁의아침3단지    149  77,000   0
4  명륜2가        아남2   59.4  17,000  60

In [150]:
# for i in rs.body.items:
#     print(i.aptNm)