## pandas.Series.apply()

pandas.Series.apply(
    self,
    func: 'AggFuncType',
    convert_dtype: 'bool | lib.NoDefault' = <no_default>,
    args: 'tuple[Any, ...]' = (),
    *,
    by_row: "Literal[False, 'compat']" = 'compat',
    **kwargs,
) -> 'DataFrame | Series'

In [32]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
pd.DataFrame.apply()

In [6]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
df.head()

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [30]:
def add_10(n):
    return n + 10

def add_two_obj(n, m):
    #print(f"n : {n} , m : {m}")
    return n + m

sr1 = df['age'].apply(add_10)
print(sr1.head(), end='\n\n')

sr2 = df['age'].apply(add_two_obj, m=10)
print(sr2.head())

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64

## pandas.Series.Map()

## pandas.DataFrame.apply()

```
pandas.DataFrame.apply(
    self,
    func: 'AggFuncType',
    axis: 'Axis' = 0,
    raw: 'bool' = False,
    result_type: "Literal['expand', 'reduce', 'broadcast'] | None" = None,
    args=(),
    by_row: "Literal[False, 'compat']" = 'compat',
    engine: "Literal['python', 'numba']" = 'python',
    engine_kwargs: 'dict[str, bool] | None' = None,
    **kwargs,
)
```

## pandas.DataFrame.map()