In [2]:
import pandas as pd

data = {
    "종가": [156000, 51300, 68800, 140000],
    "PER": [39.88, 8.52, 10.03, 228.38],
    "PBR": [3.52, 1.14, 0.88, 2.15]
}

index = ['naver', '삼성전자', 'LG전자', '카카오']

df = pd.DataFrame(data, index)

print(df)

           종가     PER   PBR
naver  156000   39.88  3.52
삼성전자    51300    8.52  1.14
LG전자    68800   10.03  0.88
카카오    140000  228.38  2.15

In [3]:
import pandas as pd


data = [
    [156000, 39.88, 3.52],
    [51300, 8.52, 1.14],
    [68800, 10.03, 0.88],
    [140000, 228.38, 2.15],
]

index = ['naver', '삼성전자', 'LG전자', '카카오']
columns = ['종가', 'PER', 'PBR']

df = pd.DataFrame(data=data, index=index, columns=columns)

print(df)

           종가     PER   PBR
naver  156000   39.88  3.52
삼성전자    51300    8.52  1.14
LG전자    68800   10.03  0.88
카카오    140000  228.38  2.15

In [4]:
import pandas as pd


data = [
    {"종가":156000, "PER":39.88, "PBR":3.52},
    {"종가":51300, "PER":8.52, "PBR":1.14},
    {"종가":68800, "PER":10.03, "PBR":0.88},
    {"종가":140000, "PER":228.38, "PBR":2.15}
]

index = ['naver', '삼성전자', 'LG전자', '카카오']

df = pd.DataFrame(data=data, index=index)

print(df)

           종가     PER   PBR
naver  156000   39.88  3.52
삼성전자    51300    8.52  1.14
LG전자    68800   10.03  0.88
카카오    140000  228.38  2.15

In [18]:
import pandas as pd


data = [
    [156000, 39.88, 3.52],
    [51300, 8.52, 1.14],
    [68800, 10.03, 0.88],
    [140000, 228.38, 2.15],
]

index = ['naver', '삼성전자', 'LG전자', '카카오']
columns = ['종가', 'PER', 'PBR']

df = pd.DataFrame(data=data, index=index, columns=columns)

print(df['종가'])

naver    156000
삼성전자      51300
LG전자      68800
카카오      140000
Name: 종가, dtype: int64
           종가   PBR
naver  156000  3.52
삼성전자    51300  1.14
LG전자    68800  0.88
카카오    140000  2.15

In [19]:
print(df[['종가','PBR']])

           종가   PBR
naver  156000  3.52
삼성전자    51300  1.14
LG전자    68800  0.88
카카오    140000  2.15

In [20]:
print(df.loc['삼성전자'])

종가     51300.00
PER        8.52
PBR        1.14
Name: 삼성전자, dtype: float64

In [21]:
print(df.iloc[1])

종가     51300.00
PER        8.52
PBR        1.14
Name: 삼성전자, dtype: float64

In [23]:
print(df.iloc[[1, 3]])

          종가     PER   PBR
삼성전자   51300    8.52  1.14
카카오   140000  228.38  2.15

In [24]:
print(df.loc[['삼성전자', '카카오']])

          종가     PER   PBR
삼성전자   51300    8.52  1.14
카카오   140000  228.38  2.15

In [25]:
print(df.loc['삼성전자':'카카오'])

          종가     PER   PBR
삼성전자   51300    8.52  1.14
LG전자   68800   10.03  0.88
카카오   140000  228.38  2.15

In [36]:
print(df.iloc[1:])

          종가     PER   PBR
삼성전자   51300    8.52  1.14
LG전자   68800   10.03  0.88
카카오   140000  228.38  2.15