In [6]:
import pandas as pd

arr = [10, 20, 30]

s = pd.Series(arr)

s

0    10
1    20
2    30
dtype: int64

In [10]:
data = [100000, 60000, 80000]
index = ['월', '화', '수']
s = pd.Series(data, index)
s

월    100000
화     60000
수     80000
dtype: int64

In [15]:
print(s.index)
print(s.values)
print(s.array)

Index(['월', '화', '수'], dtype='object')
[100000  60000  80000]
<NumpyExtensionArray>
[100000, 60000, 80000]
Length: 3, dtype: int64

In [21]:
data = [20000, 22000, 25000]
index = ['충만치킨', 'BBQ', "굽네"]
s = pd.Series(data, index)
print(s.iloc[0])
print(s.iloc[1])
print(s.iloc[2])

20000
22000
25000

In [23]:
print(s.loc["BBQ"])

22000

In [26]:
print(s["굽네"])

25000

In [28]:
print(s[0])

20000

C:\Users\YH\AppData\Local\Temp\ipykernel_17664\287792665.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [31]:
print(s.loc["충만치킨":"BBQ"])

충만치킨    20000
BBQ     22000
dtype: int64

In [35]:
data = [20000, 22000, 25000]
index = ['충만치킨', 'BBQ', "굽네"]
s = pd.Series(data, index)
target = [2, 0]
print(s.iloc[target])

target = ["BBQ","충만치킨"]
print(s.loc[target])

굽네      25000
충만치킨    20000
dtype: int64
BBQ     22000
충만치킨    20000
dtype: int64

In [45]:
data = [20000, 22000, 25000]
index = ['충만치킨', 'BBQ', "굽네"]
s = pd.Series(data, index)

s.loc['교촌'] = 28000
print(s)

충만치킨    20000
BBQ     22000
굽네      25000
교촌      28000
dtype: int64

In [42]:
s.drop(['충만치킨','굽네'])

BBQ    22000
교촌     28000
dtype: int64

In [47]:
s.iloc[0] = 30000
s.loc['교촌'] = 29000
print(s)

충만치킨    30000
BBQ     22000
굽네      25000
교촌      29000
dtype: int64

In [53]:
import pandas as pd

data = [10, 20, 30]
index = ['월', '화', '수']

#  시리즈 객체 생성
s = pd.Series(data=data, index=index)
print(s, end='\n\n')

#  시리즈 추가 및 수정
s.loc['월'] = 0
s.loc['목'] = 40
s.loc['금'] = 50
print(s, end='\n\n')

#  삭제하기
s.drop('월', inplace=True)
s.drop(['화', '수'], inplace=True)
print(s, end='\n\n')

월    10
화    20
수    30
dtype: int64

월     0
화    20
수    30
목    40
금    50
dtype: int64

목    40
금    50
dtype: int64