In [1]:
# 라이브러리 임포트
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# bc_card.txt 파일 읽어서 타입 확인
with open('bc_card.txt', mode='rb') as f:
    with open('bc_card_output.txt', mode='w') as w:
        data = f.read()
        print(type(data))
        data = data.decode('cp949')
        print(type(data))
        w.write(data)

<class 'bytes'>
<class 'str'>

In [3]:
# 데이터 정제 : 문자열 개수 확인 , 문자열 100개 출력
with open('bc_card_output.txt', mode='r') as f:
    data = f.read()
len(data)

10235713

In [4]:
data[:100]

'REG_YYMM\tMEGA_CTY_NO\tMEGA_CTY_NM\tCTY_RGN_NO\tCTY_RGN_NM\tADMI_CTY_NO\tADMI_CTY_NM\tMAIN_BUZ_CODE\tMAIN_BU'

In [5]:
# 탭을 기준으로 문자열 분리
split_data = data.split('\t')
# print(type(split_data))
split_data[:25]

['REG_YYMM',
 'MEGA_CTY_NO',
 'MEGA_CTY_NM',
 'CTY_RGN_NO',
 'CTY_RGN_NM',
 'ADMI_CTY_NO',
 'ADMI_CTY_NM',
 'MAIN_BUZ_CODE',
 'MAIN_BUZ_DESC',
 'TP_GRP_NO',
 'TP_GRP_NM',
 'TP_BUZ_NO',
 'TP_BUZ_NM',
 'CSTMR_GUBUN',
 'CSTMR_MEGA_CTY_NO',
 'CSTMR_MEGA_CTY_NM',
 'CSTMR_CTY_RGN_NO',
 'CSTMR_CTY_RGN_NM',
 'SEX_CTGO_CD',
 'AGE_VAL',
 'FLC',
 'AMT',
 'CNT201906',
 '11',
 '서울특별시']

In [6]:
split_data[22]

'CNT201906'

In [7]:
split_data[22][:3]+'\t'+split_data[22][3:]

'CNT\t201906'

In [8]:
data.find('CNT')

257

In [9]:
data = data[:260]+'\t'+data[260:]
split_data = data.split('\t')
split_data[:25]

['REG_YYMM',
 'MEGA_CTY_NO',
 'MEGA_CTY_NM',
 'CTY_RGN_NO',
 'CTY_RGN_NM',
 'ADMI_CTY_NO',
 'ADMI_CTY_NM',
 'MAIN_BUZ_CODE',
 'MAIN_BUZ_DESC',
 'TP_GRP_NO',
 'TP_GRP_NM',
 'TP_BUZ_NO',
 'TP_BUZ_NM',
 'CSTMR_GUBUN',
 'CSTMR_MEGA_CTY_NO',
 'CSTMR_MEGA_CTY_NM',
 'CSTMR_CTY_RGN_NO',
 'CSTMR_CTY_RGN_NM',
 'SEX_CTGO_CD',
 'AGE_VAL',
 'FLC',
 'AMT',
 'CNT',
 '201906',
 '11']

In [10]:
Num_Column = 23
len(split_data) % Num_Column

4

In [11]:
split_data[22], split_data[23], split_data[23+22], split_data[23+22+22], split_data[23+22+22+22]

('CNT', '201906', '1892201906', '18201906', '52201906')

In [12]:
split_data[23+22].find('201906')

4

In [21]:
cycle = 22
i = 1
while i < round((len(split_data) - cycle) / cycle):
    target_index = split_data[Num_Column + cycle * i].find('201906')
    split_data[Num_Column + cycle * i] = split_data[Num_Column + cycle * i][:target_index] + '\t' + split_data[Num_Column + cycle * i][target_index:]
    i += 1

In [23]:
split_data[22], split_data[23], split_data[23+22], split_data[23+22+22], split_data[23+22+22+22]

('CNT', '201906', '1892\t201906', '18\t201906', '52\t201906')

In [27]:
split_data[:50]

['REG_YYMM',
 'MEGA_CTY_NO',
 'MEGA_CTY_NM',
 'CTY_RGN_NO',
 'CTY_RGN_NM',
 'ADMI_CTY_NO',
 'ADMI_CTY_NM',
 'MAIN_BUZ_CODE',
 'MAIN_BUZ_DESC',
 'TP_GRP_NO',
 'TP_GRP_NM',
 'TP_BUZ_NO',
 'TP_BUZ_NM',
 'CSTMR_GUBUN',
 'CSTMR_MEGA_CTY_NO',
 'CSTMR_MEGA_CTY_NM',
 'CSTMR_CTY_RGN_NO',
 'CSTMR_CTY_RGN_NM',
 'SEX_CTGO_CD',
 'AGE_VAL',
 'FLC',
 'AMT',
 'CNT',
 '201906',
 '11',
 '서울특별시',
 '1162',
 '관악구',
 '11620585',
 '낙성대동',
 '80',
 '음식',
 '80',
 '일반음식',
 '8006',
 '서양음식',
 '내국인',
 '11',
 '서울특별시',
 '1162',
 '관악구',
 '2',
 '30대',
 '2',
 '26284804',
 '1892\t201906',
 '11',
 '서울특별시',
 '1159',
 '동작구']

In [29]:
join_split_data = '\t'.join(split_data)
join_split_data[:50]

'REG_YYMM\tMEGA_CTY_NO\tMEGA_CTY_NM\tCTY_RGN_NO\tCTY_RG'

In [31]:
joined_splited_data = join_split_data.split('\t')
joined_splited_data[:50]

['REG_YYMM',
 'MEGA_CTY_NO',
 'MEGA_CTY_NM',
 'CTY_RGN_NO',
 'CTY_RGN_NM',
 'ADMI_CTY_NO',
 'ADMI_CTY_NM',
 'MAIN_BUZ_CODE',
 'MAIN_BUZ_DESC',
 'TP_GRP_NO',
 'TP_GRP_NM',
 'TP_BUZ_NO',
 'TP_BUZ_NM',
 'CSTMR_GUBUN',
 'CSTMR_MEGA_CTY_NO',
 'CSTMR_MEGA_CTY_NM',
 'CSTMR_CTY_RGN_NO',
 'CSTMR_CTY_RGN_NM',
 'SEX_CTGO_CD',
 'AGE_VAL',
 'FLC',
 'AMT',
 'CNT',
 '201906',
 '11',
 '서울특별시',
 '1162',
 '관악구',
 '11620585',
 '낙성대동',
 '80',
 '음식',
 '80',
 '일반음식',
 '8006',
 '서양음식',
 '내국인',
 '11',
 '서울특별시',
 '1162',
 '관악구',
 '2',
 '30대',
 '2',
 '26284804',
 '1892',
 '201906',
 '11',
 '서울특별시',
 '1159']

In [37]:
total = [joined_splited_data[i: i+Num_Column] for i in range(0, len(joined_splited_data), Num_Column)]
total[2]

['201906',
 '11',
 '서울특별시',
 '1159',
 '동작구',
 '11590560',
 '상도4동',
 '30',
 '생활',
 '40',
 '유통업영리',
 '4010',
 '편 의 점',
 '내국인',
 '11',
 '서울특별시',
 '1165',
 '서초구',
 '2',
 '20대',
 '1',
 '109290',
 '18']

In [39]:
len(total)

100002

In [41]:
total_df = pd.DataFrame(total[1:] , columns=total[0])
total_df.head()

,REG_YYMM,MEGA_CTY_NO,MEGA_CTY_NM,CTY_RGN_NO,CTY_RGN_NM,ADMI_CTY_NO,ADMI_CTY_NM,MAIN_BUZ_CODE,MAIN_BUZ_DESC,TP_GRP_NO,...,CSTMR_GUBUN,CSTMR_MEGA_CTY_NO,CSTMR_MEGA_CTY_NM,CSTMR_CTY_RGN_NO,CSTMR_CTY_RGN_NM,SEX_CTGO_CD,AGE_VAL,FLC,AMT,CNT
0,201906,11,서울특별시,1162,관악구,11620585,낙성대동,80,음식,80,...,내국인,11,서울특별시,1162,관악구,2,30대,2,26284804,1892
1,201906,11,서울특별시,1159,동작구,11590560,상도4동,30,생활,40,...,내국인,11,서울특별시,1165,서초구,2,20대,1,109290,18
2,201906,11,서울특별시,1162,관악구,11620595,청룡동,30,생활,83,...,내국인,11,서울특별시,1162,관악구,1,20대,1,268850,52
3,201906,11,서울특별시,1144,마포구,11440660,서교동,80,음식,80,...,내국인,11,서울특별시,1138,은평구,1,20대,1,44174450,1790
4,201906,11,서울특별시,1120,성동구,11200550,사근동,80,음식,80,...,내국인,11,서울특별시,1120,성동구,1,20대,1,60338146,3536

In [43]:
total_df.to_csv('201906.csv', encoding='utf-8')

In [45]:
bc_card_df = pd.read_csv('201906.csv', encoding='utf-8', index_col=0)
bc_card_df.head()

,REG_YYMM,MEGA_CTY_NO,MEGA_CTY_NM,CTY_RGN_NO,CTY_RGN_NM,ADMI_CTY_NO,ADMI_CTY_NM,MAIN_BUZ_CODE,MAIN_BUZ_DESC,TP_GRP_NO,...,CSTMR_GUBUN,CSTMR_MEGA_CTY_NO,CSTMR_MEGA_CTY_NM,CSTMR_CTY_RGN_NO,CSTMR_CTY_RGN_NM,SEX_CTGO_CD,AGE_VAL,FLC,AMT,CNT
0,201906,11,서울특별시,1162,관악구,11620585,낙성대동,80,음식,80,...,내국인,11,서울특별시,1162,관악구,2,30대,2,26284804,1892
1,201906,11,서울특별시,1159,동작구,11590560,상도4동,30,생활,40,...,내국인,11,서울특별시,1165,서초구,2,20대,1,109290,18
2,201906,11,서울특별시,1162,관악구,11620595,청룡동,30,생활,83,...,내국인,11,서울특별시,1162,관악구,1,20대,1,268850,52
3,201906,11,서울특별시,1144,마포구,11440660,서교동,80,음식,80,...,내국인,11,서울특별시,1138,은평구,1,20대,1,44174450,1790
4,201906,11,서울특별시,1120,성동구,11200550,사근동,80,음식,80,...,내국인,11,서울특별시,1120,성동구,1,20대,1,60338146,3536

1. 총 고객 수
2. 서울시 거주/비거주 고객 수
3. 남녀 고객 성별 소비액
4. 편의점 소비액  # TP_BUZ_NO가 4010인 값
5. 강남구 편의점 소비금액
6. 강남구에서 타 거주자가 소비한 금액

In [130]:
# 서울시 거주/비거주 총 고객 수
len(bc_card_df)

100001

In [132]:
# 서울시 거주 고객 수
bc_card_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100001 entries, 0 to 100000
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   REG_YYMM           100001 non-null  int64
 1   MEGA_CTY_NO        100001 non-null  int64
 2   MEGA_CTY_NM        100001 non-null  object
 3   CTY_RGN_NO         100001 non-null  int64
 4   CTY_RGN_NM         100001 non-null  object
 5   ADMI_CTY_NO        100001 non-null  int64
 6   ADMI_CTY_NM        100001 non-null  object
 7   MAIN_BUZ_CODE      100001 non-null  int64
 8   MAIN_BUZ_DESC      100001 non-null  object
 9   TP_GRP_NO          100001 non-null  int64
 10  TP_GRP_NM          100001 non-null  object
 11  TP_BUZ_NO          100001 non-null  int64
 12  TP_BUZ_NM          100001 non-null  object
 13  CSTMR_GUBUN        100001 non-null  object
 14  CSTMR_MEGA_CTY_NO  100001 non-null  int64
 15  CSTMR_MEGA_CTY_NM  100001 non-null  object
 16  CSTMR_CTY_RGN_NO   100001 non-null  int64
 17  CSTMR_CTY_RGN_NM   100001 non-null  object
 18  SEX_CTGO_CD        100001 non-null  int64
 19  AGE_VAL            100001 non-null  object
 20  FLC                100001 non-null  int64
 21  AMT                100001 non-null  int64
 22  CNT                100001 non-null  int64
dtypes: int64(13), object(10)
memory usage: 20.3+ MB

In [134]:
index1 = bc_card_df[bc_card_df['CSTMR_MEGA_CTY_NM'] != '서울특별시'].index
seoul_card = bc_card_df.drop(index1)
seoul_card.reset_index(drop=True, inplace=True)
len(seoul_card)

54150

In [136]:
(bc_card_df['CSTMR_MEGA_CTY_NM'].values == '서울특별시').sum()

54150

In [138]:
index2 = bc_card_df[bc_card_df['CSTMR_MEGA_CTY_NM'] == '서울특별시'].index
nonseoul_card = bc_card_df.drop(index2)
nonseoul_card.reset_index(drop=True, inplace=True)
len(nonseoul_card)

45851

In [140]:
len(bc_card_df) - len(seoul_card)

45851

In [142]:
# 총 소비액
print(seoul_card['AMT'].sum(axis=0))
print(nonseoul_card['AMT'].sum(axis=0))

119663142676
146587135822

In [144]:
sex_pivot = seoul_card[['SEX_CTGO_CD', 'AMT']]

In [164]:
# 성별 소비액
sex_pivot = seoul_card[['SEX_CTGO_CD', 'AMT']]
seoul_sex = pd.pivot_table(sex_pivot, index=['SEX_CTGO_CD'], aggfunc='sum')
seoul_sex

nonsex_pivot = nonseoul_card[['SEX_CTGO_CD', 'AMT']]
nonseoul_sex = pd.pivot_table(nonsex_pivot, index=['SEX_CTGO_CD'], aggfunc='sum')
nonseoul_sex

                     AMT
SEX_CTGO_CD
1            73579570815
2            73007565007

In [150]:
# 카드 이용 건수
print(seoul_card['CNT'].sum(axis=0))
print(nonseoul_card['CNT'].sum(axis=0))

5542462
4950200

In [152]:
# 편의점 소비액 
bc_con = bc_card_df[bc_card_df['TP_BUZ_NO']==4010]
bc_con['AMT'].sum(axis=0)

7299184098

In [154]:
# 강남구 편의점 소비금액
gang_con = bc_card_df[ (bc_card_df['TP_BUZ_NO']==4010) & (bc_card_df['CTY_RGN_NM']=='강남구')]
gang_con['AMT'].sum(axis=0)

707275140

In [156]:
# 강남구 전체 소비금액
gang_amt = bc_card_df[bc_card_df['CTY_RGN_NM'] == '강남구']
gang_amt['AMT'].sum(axis=0)

35535648502

In [158]:
con_gang_amt = bc_card_df[(bc_card_df['TP_BUZ_NO']==4010) & (bc_card_df['CTY_RGN_NM'] == '강남구')]
con_gang_amt['AMT'].sum(axis=0)

707275140

In [160]:
# 강남구 거주자와 비거주자 소비액
index3 = con_gang_amt[con_gang_amt['CSTMR_CTY_RGN_NM']=='강남구'].index
gang_rgn_amt = con_gang_amt.drop(index3)
gang_rgn_amt.reset_index(drop=True, inplace=True)
gang_rgn_amt['AMT'].sum()

418895250

In [162]:
con_gang_amt['AMT'].sum() - gang_rgn_amt['AMT'].sum()

288379890