# DataFrame

Series가 여러 개 있는 2차원의 데이터구조를 가지며 행과 열로 구성되어있다.

## DataFrame 파라미터

## DataFrame 생성

### 리스트로 생성

In [14]:
import numpy as np
import pandas as pd

list_data = [
    [1, 2, 3], 
    ['A', 'B', 'C'],
    [True, True, False],
]


df = pd.DataFrame(data=list_data)

print(df)

      0     1      2
0     1     2      3
1     A     B      C
2  True  True  False

### 딕셔너리로 생성

In [18]:
data = {'A' : [1,2], 'B': [3,4]}
df = pd.DataFrame(data=data)
print(df)

   A  B
0  1  3
1  2  4

In [ ]:
## index, columns 지정

In [ ]:
### 데이터프레임 생성 시 지정

In [32]:
member_data = [
    ['홍길동', 40, '남', '서울'],
    ['정길동', 30, '여', '부산'],
    ['박길동', 29, '남', '광주'],
    ['최길동', 55, '여', '제주'],
]

df = pd.DataFrame(data=member_data, index=['A','B','C','D'], columns=['name', 'age', 'gender','addr'])
print(df)
print(df.index)
print(df.columns)

  name  age gender addr
A  홍길동   40      남   서울
B  정길동   30      여   부산
C  박길동   29      남   광주
D  최길동   55      여   제주
Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['name', 'age', 'gender', 'addr'], dtype='object')

In [ ]:
### 데이터프레임 생성 후 지정 또는 수정

In [70]:
df.index = ['가', '나', '다', '라']
df.columns = ['이름', '나이', '성별', '거주지']
print(df)
print(df.index)
print(df.columns)

    이름  나이 성별 거주지
가  홍길동  40  남  서울
나  정길동  30  여  부산
다  박길동  29  남  광주
라  최길동  55  여  제주
Index(['가', '나', '다', '라'], dtype='object')
Index(['이름', '나이', '성별', '거주지'], dtype='object')

In [ ]:
## columns

In [ ]:
### 열 1개 조회

In [38]:
print(df['이름'])

가    홍길동
나    정길동
다    박길동
라    최길동
Name: 이름, dtype: object

In [ ]:
### 열 여러개 조회

In [40]:
print(df[['이름', '거주지']])

    이름 거주지
가  홍길동  서울
나  정길동  부산
다  박길동  광주
라  최길동  제주

In [ ]:
## columns명 변경

In [ ]:
### 특정 컬럼만 변경하기

In [68]:
df.rename(columns={'이름':'성명', '거주지':'거주지역'}, inplace=True)
print(df)

    성명 거주지역 성별 거주지역
가  홍길동   40  남   서울
나  정길동   30  여   부산
다  박길동   29  남   광주
라  최길동   55  여   제주

In [ ]:
### 열 이름을 가져온 후 수정하기

In [72]:
columns = df.columns.tolist()
columns[0] = '성명'
columns[3] = '거주지역'
df.columns = columns
print(df)

    성명  나이 성별 거주지역
가  홍길동  40  남   서울
나  정길동  30  여   부산
다  박길동  29  남   광주
라  최길동  55  여   제주

In [ ]:
※ df.columns에 리스트로 전체를 다시 재지정도 가능

In [ ]:
## 데이터 삭제

In [ ]:
### 거주지역 열 삭제

In [54]:
df.drop(['거주지역', axis=1)

    성명  나이 성별
가  홍길동  40  남
나  정길동  30  여
다  박길동  29  남
라  최길동  55  여

In [74]:
df.drop(['나이', '거주지역'], axis=1)

    성명 성별
가  홍길동  남
나  정길동  여
다  박길동  남
라  최길동  여

In [ ]:
### 인덱스 '가' 삭제

In [56]:
df.drop('가', axis=0)

    성명  나이 성별 거주지역
나  정길동  30  여   부산
다  박길동  29  남   광주
라  최길동  55  여   제주

In [ ]:
## 컬럼 순서 변경

In [78]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

In [ ]:
### 열을 직접 지정

In [80]:
df = df[['C', 'A', 'B']]
print(df)

   C  A  B
0  7  1  4
1  8  2  5
2  9  3  6

In [ ]:
### 특정 열을 맨 앞으로

In [82]:
col_to_move = df.pop('B')  # 'B' 열을 제거하면서 반환
df.insert(0, 'B', col_to_move)  # 'B'를 첫 번째 위치에 삽입
print(df)

   B  C  A
0  4  7  1
1  5  8  2
2  6  9  3

In [88]:
cols = ['C'] + [col for col in df.columns if col != 'C']
# 앞으로 이동시킬 C 와 C 제외 나머지를 리스트화
df = df[cols]
print(df)

   C  B  A
0  7  4  1
1  8  5  2
2  9  6  3

In [ ]:
### 열 위치 교환

In [94]:
columns = list(df.columns)
columns[0], columns[2] = columns[2], columns[0]  # 'A'와 'C' 교환
df = df[columns]
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9