In [ ]:
# list comprehension

In [ ]:
list_data = [(변수 또는 변수의 연산) for 변수 in (범위나 반복가능한 데이터) [조건문]]

## 리스트 컴프리헨션을 사용하지 않고 1 ~ n까지의 정수를 리스트에 저장

list_data = [1, 2, 3, 4, 5, ... , n-1, n]

list_data = []
for i in range(1, n+1):
    list_data.append(i)

In [ ]:
## 리스트 컴프리헨션 사용

In [ ]:
### 0 ~ 4까지 리스트에 저장

In [12]:
list_data1 = [i for i in range(5)]
print(list_data1)

[0, 1, 2, 3, 4]

In [ ]:
### 0 ~ 4까지 두 배의 값을 저장

In [14]:
list_data2 = [i * 2 for i in range(5)]
print(list_data2)

[0, 2, 4, 6, 8]

In [ ]:
### string으로 저장된 숫자를 int로 변환

In [24]:
txt = "1234"
list_data3 = [int(num) for num in txt]
print(list_data3)
print(type(list_data3[0]))

[1, 2, 3, 4]
<class 'int'>

In [ ]:
### 1 ~ 10 사이의 짝수를 리스트에 저장

In [32]:
list_data4 = [ n for n in range(1,11) if n%2==0]
print(list_data4)

[2, 4, 6, 8, 10]

In [ ]:
## 인수에 10을 더해주는 함수를 사용하여 0~4까지 반복하여 저장

In [41]:
def add(n):
    return n + 10
    
list_data5 = [add(i) for i in range(0,5)]
print(list_data5)

[10, 11, 12, 13, 14]

In [ ]:
## for문 2개 사용하여 구구단 출력

In [48]:
gugudan = [ x*y for x in range(2,3) for y in range(1,10)]
print(gugudan)

[2, 4, 6, 8, 10, 12, 14, 16, 18]